# Python files
__pycache__/*
utils/__pycache__/*
.DS_Store

# individual files
*.max

# data
*.png
*.pkl
*.pt

# test files
test*

# files only kept to refer back to them, but not needed any more
old_files/*

# virtual environment and python packages
gnn/*