# Python files
__pycache__/*
utils/__pycache__/*
.DS_Store

# individual files
*.max
*.fy

# data
*.png
*.pdf
reference
reference/*

# test & helper files
test*
helper*

# files only kept to refer back to them, but not needed any more
old_files/*
oldSaves/*

# virtual environment and python packages
gnn/*

# Plotting.ipynb
Plotting.ipynb
plotting.py